@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* ----------- CSS Reset ------------- */
:root{
  --primary-color : #0f0f26;
  --secondary-color : #3a58fd;
  --white : #ffffff;
  --dark : #000000e8;
  --box-shadow : #64646f33;
  --gray : #3f3d3d;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 200vh;
}

.m-container{
  margin: 0rem 5rem;
}


/* ===================== Navbar ==================== */

.header{
  position: absolute;
  z-index: 200;
  width: 100%;
  top: 0%;
}
.meta_menu{
  position: absolute;
  display: none;
  font-size: .8rem;
  color: #0f0f26;
  font-weight: 400;
  line-height: 2rem;
}
.meta_menu ul{
  margin-top: 1.9rem;
  border-radius: 6px;
  padding: 1.5rem 2rem;
  background: var(--white);
  box-shadow: #64646f33 0px 7px 29px 0px;

}
.meta_menu li:hover,
.categories li:hover{
  cursor: pointer;
  transform: translateX(8%);
  transition: ease-in-out .5s;
}
.nav-li-menu:hover > .meta_menu{
  display:flex;
  transition: all 0.3s ease 0s;
} 
.categories h1{
  padding: 1rem 0rem;
  color: var(--primary-color);
  font-size: .9rem;
  font-weight: 700;
}
.scrolling_active{
  position: fixed;
  transition: ease 2s ;
  z-index: 3000;
  background: var(--dark);
  color: var(--white) !important;
}


.right-cl-nav ul li:hover,
.center-cl-nav ul li:hover{
  color: var(--secondary-color);
  cursor: pointer;
}


/* ================= Hero Section ================== */

.hero_section{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.image_slide_main{
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0%;
  z-index: 1;
}
.image1_div,
.image_1_image,
.section1_div,
.image_1_image img{
  width: 100% ;
  height: 100%;
  position: relative;
}

.image_1_image img{
  object-fit :cover;
}
.image_content{
  position: absolute;
  top: 0%;
  left: 12%;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  transform: matrix3d(2);
  align-items: center;
}
.image_content h1{
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}
.image_content span{
  color: var(--secondary-color);
  font-size: 5rem;
}
.image_content a{
  position: absolute;
  top: 80%;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.image_content_value a:hover{
  color: var(--secondary-color);
}
.span_icon{
  font-size: 2rem !important;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next{
  z-index: 1000;
}


/* =============== Main Section ============= */

.product_content{
  text-align: center;
}

.product_content h1{
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary-color);
}
.product_content span{
  color: var(--secondary-color);
}


.card{
  position: relative;
  cursor: pointer;
}
.card-body{
  visibility: hidden;
  position: absolute;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--white);
  behavior: smooth;
  animation: shadowcome 5s forwards;
}
@keyframes shadowcome {
  25%{background:#00000017;}
  50%{background: #0000005b;}
  75%{background: #0000008a;}
  100%{background: #00000017;}
}
.card:hover > .card-body{
  visibility: visible;
}
.card-body ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 50%;
}
.card-body ul li a:hover{
  background: var(--secondary-color);
  color: var(--white);
}

/* ================ section2 ============ */
.section2{
  position: relative;
  display: flex;
  justify-content: center;
}
.section2-inner{
  position: absolute;
  top: 21%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.sec2-right{
  padding: 1rem 2.5rem;
}
.sec2-content h1{
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray);
}
.sec2-content p{
  padding:.5rem 0rem;
  font-size: .9rem;
  line-height: 1.5rem;
}
.sec2-form-box{
  /* border: 2px solid var(--gray); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin: .5rem 2rem;
  border-radius: 12px;
  margin-top: 4rem;
  /* padding: .2rem 1rem; */
}
.sec2-form-box input{
  padding: .4rem 1rem;
  width: 80%;
  outline: none;
} 
.sec2-form-box button{
  font-weight: 700;
} 
.sec2-form-box button:hover{
  color: var(--secondary-color);
} 

.new-product-nav li{
  color: var(--gray);
  font-size: .9rem;
}
.new-product-nav li:hover{
  color: var(--secondary-color);
}